.icon {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	align-items: center;

	&--pl {
		& .icon__link {
			padding-left: 20px;
		}

		& .icon__link--first {
			padding-left: 0px;
		}
	}

	&--left {
		justify-content: flex-start;
	}


	&__link svg {
		fill: #989898;
		@include box (15px, 15px);
	}
}

@include media-query(550) {
	.icon {
		&--pl {
			& .icon__item:first-child {
				padding-left: 0px;
			}
		}

	}
}