.slogan {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__suptitle {
		padding: 10px 30px;
		background-color: $main;
	}

	&__title {
		border: 13px solid $grey;
		padding: 10px 30px;
	}

	&__text {
		font-family: 'OpenSans', sans-serif;
		max-width: 700px;
		text-align: center;
		font-size: 14pt;
		margin-top: 28px;
	}
}

@include media-query (830) {
	.slogan {
		&__title {
			border: 10px solid $grey;
			padding: 10px 15px;
			text-align: center;
		}
	}
}